* {
  margin: 0;
  padding: 0;
  font-family: 'East Sea Dokdo', cursive;
}

body {
  background-image: url("./../public/background1.jpg") ;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  width: 100%;

}

nav {
  background-color: rgba(0, 0, 0, 1);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(40, 40, 40, 1) 100%);
  color: white;
  box-shadow: 0px .25em 10px 0px rgba(0, 0, 0, 1);
}

.bar-container {
  position: absolute;
  right: 1em;
  top: 1em;
}


@media screen and (min-width: 400px) {
  .bar-container {
    display: none;
  }
}


.bar-container:hover {
  cursor: pointer;
}

.bar {
  background-color: white;
  height: .35em;
  margin: .5em 0;
  width: 2.5em;
}

nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 400px) {
  nav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}


nav ul li {
  font-size: 2rem;
  list-style-type: none;
}

@media screen and (min-width: 400px) {
  nav ul li{
    margin: 0 1em;
  }

}

@media screen and (max-width: 400px) {
  nav ul li.hidden {
    display: none;
    }
}



nav ul li:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  position: relative;
}

@media screen and (min-width: 400px) {
  nav ul li:hover {
    background-color: unset;
    color: white;
    /* border-bottom: 1px solid white; */
  }

  nav ul li:hover::after {
    content: "";
    background: white;
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
}

nav ul li.logo {
  margin: 0;
  width: 2em;
  background: white;
}


.home {
  width: 100%;
  border-top: 2px solid white;
  text-align: center;
}

.add-song {
  width: 100%;
  border-top: 2px solid white;
  text-align: center;
}


@media screen and (min-width: 400px) {
  .home {
    width: auto;
    margin-left: auto;
    border-top: none;

  }
  
  .add-song {
    width: auto;
    border-top: none;
    margin-right: auto;
  }
  
}


.cards-container {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1em;
}

.card-image, .audiocard-image  {
  max-height: 65%;
  margin-bottom: auto;
}

.card-author, .audiocard-author {
 margin-bottom: auto;
 text-align: center;
}

.card-title, .audiocard-title {
  margin-bottom: auto;
  text-align: center;
}


.card {
  width: 70%;
  height: 30%;
  color: white;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 1);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(40, 40, 40, 1) 100%);
  margin: 1em;
  border-radius: 1em;
  -webkit-box-shadow: .25em .25em 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: .25em .25em 10px 0px rgba(0, 0, 0, 1);
  box-shadow: .25em .25em 10px 0px rgba(0, 0, 0, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.card-delete, .card-listen {
  display: none;
}

.card:hover .card-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  border-radius: 1em 1em 0 0 ;
  border: 2px solid white;
  opacity: .8;
  background: black;
  color: white;
  position: absolute;
}

.card:hover .card-listen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45%;
  top: 20%;
  font-size: 2rem;
  border-radius: 0 0 1rem 1rem;
  border: 2px solid white;
  opacity: .8;
  background: black;
  color: white;
  position: absolute;
}

.card:hover .card-listen-small {
  top: 45%;
  height: 20%;
  font-size: 1.5rem;
}

.card-delete-confirmation, .card:hover .card-delete-confirmation {
  display: none;
}

.card:hover .card-delete-confirmation-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45%;
  font-size: 2rem;
  border-radius: 1rem 1rem 0 0 ;
  border: 2px solid white;
  opacity: .8;
  background: black;
  color: white;
  position: absolute;
}

.card:hover .delete-buttons {
  width: 100%;
  height: 100%;
  border-top: 2px solid white;
  display: flex;
  align-items: center;
}

.card:hover .delete-buttons .yes {
  border-right: 2px solid white;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.card:hover .delete-buttons .no {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}


.card-delete:hover, .card-listen:hover ,.yes:hover, .no:hover {
  cursor: pointer;
  text-decoration: underline;
}

.card-disappear {
  transform: scale(0);
  transition: transform .25s;
}

.card:hover .hide {
  display: none;
}

.card:hover {
  position: relative;
  bottom: -1em;
}

@media screen and (min-width: 450px) {
  .card {
    font-size: 1.5rem;
    width: 50%;
  }
}

@media screen and (min-width: 700px) {
  .card {
    width: 40%;
  }
}


@media screen and (min-width: 960px) {
  .card {
    font-size: 1.5rem;
    width: 20%;
  }
}

@media screen and (min-width: 1400px) {
  .card {
    width: 15%;
  }
}

.audiocard-container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audiocard {
  width: 90%;
  min-height: 50%;
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 1);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(40, 40, 40, 1) 100%);
  margin: 1em auto;
  border-radius: 1em;
  -webkit-box-shadow: .25em .25em 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: .25em .25em 10px 0px rgba(0, 0, 0, 1);
  box-shadow: .25em .25em 10px 0px rgba(0, 0, 0, 1);

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-bar {
  background: white;
  width: 100%;
  height: 0.3rem;
  margin-bottom: auto;
}

.audio-bar-progress {
  height: 100%;
  width: 0;
  /* background: #817F82; */
  background: #B9314F;
}


@media screen and (min-width: 640px) {
  .audiocard {
    width: 50%;
  }
}


@media screen and (min-width: 960px) {
  .audiocard {
    width: 30%;
  }
}

.audio-buttons{
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-buttons i {
  margin: 0 .5em;

}

.audio-buttons i:hover {
  cursor: pointer;
  color: #CECECE;
}

.fa-pause {
  padding: 0 2px;
}

.fa-pause, .fa-stop {
  display: none;
}

.fa-forward,
.fa-backward {
  font-size: 1.5rem;
}

.add-song-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-1-form, .options {
  width: 80%;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(40, 40, 40, 1) 100%);
  border-radius: 1em;
  -webkit-box-shadow: .25em .25em 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: .25em .25em 10px 0px rgba(0, 0, 0, 1);
  box-shadow: .25em .25em 10px 0px rgba(0, 0, 0, 1);
}

.option-1-form {
  margin-top: 1.5rem;
  height: 70%;
}

.options {
  height: 20%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .option-1-form, .options {
    width: 50%;
  }
}

@media screen and (min-width: 960px) {
  .option-1-form, .options {
    width: 30%;
  }
}


.options-header {
  /* font-size: 2rem; */
  font-weight: 400;
}

.options-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

.option-description p {
  font-size: 1.5rem;
}

.option-description .hide {
  display: none;
}


.option {
  font-size: 1.5rem;
  background-color: black;
  border: 5px solid white;
  color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .25s;
}

.options-list .option.active {
  background-color: white;
  border: 5px solid white;
  color: black;
}



form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

}

form input {
  font-size: 1.5rem;
  text-align: center;
  border-radius: 1em;
  width: 50%;
}

form button {
  font-size: 1.5rem;
  padding: 0 2em;
  color: white;
  border-radius: 1em;
  margin-top: 1em;
  border: 5px solid white;
  background-color: rgba(0, 0, 0, 1);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(40, 40, 40, 1) 100%);
}

form button:hover {
  cursor: pointer;
  background: white;
  color: black;
}

input[type="file"] {
  display: none;
}

.file-label {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-label:hover {
  cursor: pointer;
  color: #CECECE;
}

.selected-file {
  height: 1.25em;
  width: 100%;
  padding: 2px;
  background: white;
  color: black;
  border-radius: 1em;
  font-size: 1.5rem;
  margin-top: .25em;
  text-align: center;
}

/* Audio animation */

#wave {
  display: none;
  position: absolute;
  bottom: -100px;
	height: 100px;
	width: 100px;
	fill: #fff;
}


#Line_1{
  animation: pulse 1s infinite;
  animation-delay: .15s;
}

#Line_2{
  animation: pulse 1s infinite;
  animation-delay: calc(2 * .15s);
}

#Line_3{
  animation: pulse 1s infinite;
  animation-delay: calc(3 * .15s);
}

#Line_4{
  animation: pulse 1s infinite;
  animation-delay: calc(4 * .15s);
}

#Line_5{
  animation: pulse 1s infinite;
  animation-delay: calc(5 * .15s);
}

#Line_6{
  animation: pulse 1s infinite;
  animation-delay: calc(6 * .15s);
}

#Line_7{
  animation: pulse 1s infinite;
  animation-delay: calc(7 * .15s);
}

#Line_8{
  animation: pulse 1s infinite;
  animation-delay: calc(8 * .15s);
}

#Line_9{
  animation: pulse 1s infinite;
  animation-delay: calc(9 * .15s);
}



@keyframes pulse {
	0% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
	
	50% {
		transform: scaleY(.7);
		transform-origin: 50% 50%;
	}
	
	100% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
}